body h1 {
  font-family: "StratosDeliveroo", sans-serif;
}

body p {
  font-family: "IBM Plex Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

.bg-button-cart {
  @apply bg-fuchsia-900;
}
